ipython
jupyterlab
matplotlib
seaborn
pandas
scikit-learn
scipy
mlflow
opencv-python
shapely
geopandas
pycocotools
fiftyone
supervision
kaggle
pillow
tiler
loguru
ipywidgets

# DeepLearning & ComputerVision
albumentations
segmentation-models-pytorch


pydantic
pytest-cov
pytest_steps

